networks:
  network-zabbix:
    driver: bridge
    ipam:
      config:
        - subnet: ${ZABBIX_NET}

services:
  postgres-server:                                              # The Postgres Database Service
    container_name: postgres-server
    image: postgres:16.3-alpine3.19                               # Container image
    networks:
     - network-zabbix
    restart: always
    environment:                                                # Username, password and database name variables
      POSTGRES_USER: ${ZBX_DB_USER}                                     # Database user
      POSTGRES_PASSWORD: ${ZBX_DB_PASS}                                 # Database password
      POSTGRES_DB: ${ZBX_DB_NAME}                                       # Database name
      PG_DATA: /var/lib/postgresql/data/pgdata                  # Data storage
    volumes:
      - ./var/lib/postgresql/data:/var/lib/postgresql/data

  zabbix-server:                                                # The Zabbix Server Service
    container_name: zabbix-server
    build:
      context: ./Dockerfile                                     # Adjust as per location of Dockerfile-server file
      dockerfile: Dockerfile-server 
    networks:   
      - network-zabbix
    links:
      - postgres-server
    restart: unless-stopped
    ports:
      - '10051:10051'
    volumes:
      - ./etc/zabbix/alertscripts:/usr/lib/zabbix/alertscripts
      - ./etc/zabbix/externalscripts:/usr/lib/zabbix/externalscripts
      - ./etc/zabbix/templates:/usr/share/zabbix/templates/custom
    environment:
      POSTGRES_USER: ${ZBX_DB_USER}                               # Database user
      POSTGRES_PASSWORD: ${ZBX_DB_PASS}                           # Database password
      POSTGRES_DB: ${ZBX_DB_NAME}                                 # Database name
      ZBX_SERVER_NAME: zabbix-server                              # Zabbix Server name
      PHP_TZ: ${TZ}                                               # Defining time zone
      ZBX_CACHESIZE: 512M                                         # Maximum disk cache size to store collected data. Increasing the value of this variable can improve Zabbix performance, but it can also increase disk space usage
      ZBX_HISTORYCACHESIZE: 256M                                  # This cache is used to store historical data collected by Zabbix agents and is used to speed up access to this data.
      ZBX_HOUSEKEEPINGFREQUENCY: 6                                # Defines how often database cleanup tasks are run. These tasks include removing old historical data, deleting resolved events, and compacting database tables.
      ZBX_TRENDCACHESIZE: 256M                                    # Cache used to store trend data collected by Zabbix agents and is used to speed up access to this data.
      ZBX_NODEADDRESS: 172.18.0.1:10051
    depends_on:
      - postgres-server

  zabbix-frontend:
    container_name: zabbix-frontend
    image: zabbix/zabbix-web-apache-pgsql:ubuntu-latest
    networks:
      - network-zabbix
    links:
      - postgres-server
    restart: always
    ports:
      - '80:8080'                                                # By default Zabbix Web uses port 80, if necessary it can be changed. Example 8080:8080 - external-port:internal-port
      - '443:8443'
    environment:
      POSTGRES_USER: ${ZBX_DB_USER}                              # Database user
      POSTGRES_PASSWORD: ${ZBX_DB_PASS}                          # Database password
      POSTGRES_DB: ${ZBX_DB_NAME}                                # Database name
      PHP_TZ: ${ZBX_DB_NAME}                                     # Defining time zone
    depends_on:
      - postgres-server

  zabbix-agent:
    container_name: zabbix-agent
    build:
      context: ./Dockerfile                                      # Adjust as per location of Dockerfile-server file
      dockerfile: Dockerfile-agent
    privileged: true
    networks:
      - network-zabbix
    links:
      - zabbix-server
    restart: unless-stopped
    user: root
    volumes:
      - /var/run:/var/run
      - ./etc/zabbix/externalscripts:/etc/zabbix/externalscripts
      - ./etc/zabbix/alertscripts:/etc/zabbix/alertscripts
      - ./etc/zabbix/zabbix_agent2.conf:/etc/zabbix/zabbix_agent2.conf
    ports:
      - '10050:10050'
    environment:
      - ZBX_HOSTNAME=Zabbix server
      - ZBX_SERVER_HOST=172.18.0.1  

  grafana:
    container_name: grafana-server
    image: grafana/grafana:10.0.0-ubuntu                        # Modify according to the desired image version
    networks:
      - network-zabbix
    ports:
      - '3000:3000'                                              # By default Grafana uses port 3000, if necessary it can be changed. Example 3030:3000 - external-port:internal-port
    dns:
      - 8.8.8.8
      - 1.1.1.1
    restart: unless-stopped
    environment:
      GF_USERS_DEFAULT_THEME: dark                               # Defining Grafana theme
      TZ: ${TZ}
      GF_LOG_LEVEL: debug
      GF_INSTALL_PLUGINS: >
        alexanderzobnin-zabbix-app,
        grafana-piechart-panel,
        yesoreyeram-boomtable-panel,
        grafana-worldmap-panel,
        grafana-clock-panel,
        briangann-gauge-panel,
        agenty-flowcharting-panel
    volumes:
      - grafana:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/

  zabbix-importer:
    container_name: zabbix-importer
    build:
      context: ./Dockerfile
      dockerfile: Dockerfile-importer
    depends_on:
      - postgres-server
      - zabbix-server
    volumes:
      - ./etc/zabbix/templates:/templates
      - ./etc/zabbix/importer:/importer
    entrypoint: ["bash", "-c", "sleep 30 && python /importer/import_zabbix_templates.py"]
    networks:
      - network-zabbix

volumes:
  pgdata:
  alertscripts:
  externalscripts:
  grafana:
